ErrorDocument 401 /redirect.php
ErrorDocument 402 /redirect.php
ErrorDocument 403 /redirect.php
ErrorDocument 404 /redirect.php
ErrorDocument 500 /redirect.php

Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html
</IfModule>